/* Header Section */
/* Full screen navbar */
.HeaderSec {
  font-family: 'Fjalla One', sans-serif;
  background-color: #59504A;
  text-align: center;
}

.topnav {
  overflow: hidden;
  font-size: 20px;
}

/* Tittle bar */
.title {
  padding: 1%;
  color: #fffaf2;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: bold;
}

/* Navbar link */
.topnav a {
  float: left;
  color: #fffaf2;
  padding: 20px;
  width: 33.333%;
}

/* Hover navbar */
.topnav a:hover {
  background-color: #3b1204;
  color: #fffaf2;
}

/* Active navbar */
.topnav a.active {
  background-color: #8A5500;
  color: #fffaf2;
}


/* Middle Section */
/* Middlesec */
.MiddleSec {
  padding: 0%;
  background-color: #fffaf2;
  font-family: 'Hind', sans-serif;
}

.carousel img {
  min-width: 100%;
  height: 400px;
  width: auto;
}

.carouselTitel {
  font-weight: bold;
  font-size: 40px;
  color: #fffaf2;
  text-shadow: 2px 2px 5px #3b1204;
}

.rumorNews {
  padding-top: 40px;
}

/* Remove underline href */
.nounderline {
  font-weight: bold;
  text-decoration: none !important
}

.titleList {
  font-size: 25px;
  font-weight: bold;
}

#middleTabs {
  padding: 2% 0 2% 0;
}

#matchesList {
  padding-bottom: 3%;
  padding-right: 0px;
}


/* Footer Section */
/* FooterSec */
.FooterSec {
  padding: 3%;
  text-align: center;
  background-color: #59504A;
  color: #fffaf2;
  font-family: 'Fjalla One', sans-serif;
}

.socialMedia {
  padding: 2% 0 2% 0;
}

.twitterImg {
  width: 5%;
  margin-right: 3%;
  ;
}

.facebookImg {
  width: 5%;
}

.instagramImg {
  width: 5%;
  margin-left: 3%;
}


/* Articles */
.small {
  font-size: 1em;
}

.medium {
  font-size: 1.5em;
}

.large {
  font-size: 2em;
}


/* News Pages */
.newsImg {
  width: 100%;
  height: 400px;
}

.textNews {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}


/* Matches Pages */
.mat {
  text-align: center;
}

.l {
  padding-right: 20%;
}

.r {
  padding-left: 20%;
}

.clubImg {
  width: 5%;
  margin: 3%;
}

/* Report Pages */
.report{
  margin: 4%;
  font-family: 'Hind', sans-serif;
}

.sketch{
  width: 50%;
}

.reportlink{
  color: white;
}
